/* Mobile First */
#test {
    color: blue;
}

/* Tablets Second */
@media only screen and (min-width: 600px) {
    #test {
        color: red;
    }

}

/* Large Screens Third */
@media only screen and (min-width: 992px) {
    #test {
        color: green;
    }
}